
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules/
client/node_modules/
sorting-backend/node_modules/


dist/
client/dist/
sorting-backend/dist/


.env
.env.* 
client/.env
sorting-backend/.env


.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



.vercel
.netlify
render.yaml


coverage/
*.lcov
jest.config.js


!.vscode/extensions.json
